<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${roomName + ' 채팅방 입장'}"></title>
  <link rel="stylesheet" href="/css/table.css"/>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let data = {};
    let ws;
    var roomName = /*[[${roomName}]]*/ '';
    var nickname = /*[[${nickname}]]*/ '';

    console.log("roomName : " + roomName);
    console.log("nickname : " + nickname);

    $(document).ready(function () {
      if (ws !== undefined && ws.readyState !== WebSocket.CLOSED) {
        console.log("WebSocket is already opened.");
        return;
      }

      ws = new WebSocket("ws://" + location.host + "/ws/" + roomName + "/" + nickname);

      ws.onopen = function (event) {
        if (event.data === undefined)
          return;

        console.log(event.data);
      };

      ws.onmessage = function (msg) {
        let data = JSON.parse(msg.data);

        if (data.name === nickname) {
          $("#chat").append("<div><span style='color: blue'><b>[보낸 사람] : </b></span><span style='color: blue'> 나 </span><span style='color: blue'><b>[발송 메시지] : </b></span><span style='color: blue'>" + data.msg + " </span><span style='color: blue'><b>[발송시간] : </b></span><span style='color: blue'>" + data.date + " </span></div>");
        } else if (data.name === "관리자") {
          $("#chat").append("<div><span style='color: red'><b>[보낸 사람] : </b></span><span style='color: red'>" + data.name + "</span><span style='color: red'><b>[발송 메시지] : </b></span><span style='color: red'>" + data.msg + " </span><span style='color: red'><b>[발송시간] : </b></span><span style='color: red'>" + data.date + " </span></div>");
        } else {
          $("#chat").append("<div><span><b>[보낸 사람] : </b></span><span>" + data.name + " </span><span><b>[수신 메시지] : </b></span><span>" + data.msg + " </span><span><b>[발송시간] : </b></span><span>" + data.date + " </span></div>");
        }
      };

      $("#btnSend").on("click", function () {
        data.name = nickname;
        data.msg = $("#msg").val();

        let chatMsg = JSON.stringify(data);

        ws.send(chatMsg);

        $("#msg").val("");
      });
    });
    /*]]>*/
  </script>
</head>
<body>
<h1 th:text="${nickname + '님! ' + roomName + ' 입장을 환영합니다.'}"></h1>
<hr/>
<br/><br/>
<div class="divTable minimalistBlack">
  <div class="divTableHeading">
    <div class="divTableRow">
      <div class="divTableHead">대화 내용</div>
    </div>
  </div>
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell" id="chat"></div>
    </div>
  </div>
</div>
<br/><br/>
<div class="divTable minimalistBlack">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell">전달할 메시지</div>
      <div class="divTableCell">
        <input type="text" id="msg">
        <button id="btnSend">메시지 전송</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>