<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnLogin").on("click", function () {
                location.href = "/user/login";
            });

            $("#btnSearchPassword").on("click", function () {
                let f = document.getElementById("f");
                if (f.password.value === "") {
                    alert("새로운 비밀번호를 입력하세요.");
                    f.password.focus();
                    return;
                }
                if (f.password2.value === "") {
                    alert("검증을 위한 새로운 비밀번호를 입력하세요.");
                    f.password2.focus();
                    return;
                }
                if (f.password.value !== f.password2.value) {
                    alert("입력한 비밀번호가 일치하지 않습니다.");
                    f.password.focus();
                    return;
                }
                f.method = "post";
                f.action = "/user/newPasswordProc";
                f.submit();
            });
        });

    </script>
</head>
<body>
<h2>비밀번호 재설정 결과</h2>
<hr/>
<br/>
<form id="f">
    <div class="divTable minimalistBlack">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell" th:text="${msg}"></div>
            </div>
        </div>
    </div>
    <div>
        <button id="btnLogin" type="button">로그인</button>
    </div>
</form>
</body>
</html>