<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공원 정보</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <div id="map" style="width:40%;height:300px;position:relative;overflow:hidden; margin-left: 20%"></div>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f41cde658d6d919beb4c82dadb4ffa0a&libraries=services"></script>
    <script th:inline="javascript">

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.54982267371823, 126.84233877714716), // 지도의 중심좌표
                level: 8 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    </script>
    <script type="text/javascript" src="/js/park.js"></script>
    <script type="text/javascript" src="/js/culture.js"></script>
    <script type="text/javascript" src="/js/hospital.js"></script>

</head>
<body>
<h2>안녕하세요?</h2>
<button id="btnPark" type="button">공원</button>
<button id="btnCulture" type="button">문화시설</button>
<button id="btnHospital" type="button">동물병원</button>
<div class="divTable minimalistBlack">
    <div class="divTableHeading">
        <div class="divTableCell">산책경로구분명</div>
        <div class="divTableCell">시군구명</div>
        <div class="divTableCell">지번 주소</div>
    </div>
    <div class="divTableBody" id="parkData"></div>
    <div class="divTableBody" id="cultureData"></div>
    <div class="divTableBody" id="hospitalData"></div>
</div>
<form id="f">
</form>
</body>
</html>
